* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-slogan-typography {
  text-align: center;
  text-transform: uppercase;
  margin: 5% 0;
}

.slogan-typography-1 {
  font-size: 500%;
  font-weight: bold;
  padding: 1%;
}

.slogan-typography-2 {
  font-size: 700%;
}

.container-section-intro {
  text-align: center;
  font-size: 200%;
  margin: 5% 0;
}

.container-section-servicios {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
}

.section-desarrollo {
  flex: 0 0 45%;
  padding: 1%;
}

.section-innovacion {
  flex: 0 0 45%;
  padding: 1%;
}
