* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.main-header {
  display: flex;
  align-items: center;
}

.container--section-intro {
  display: flex;
}

.container--section-servicios {
  display: flex;
  gap: 5%;
}

.section-desarrollo {
  flex-basis: 50%;
}

.section-innovacion {
  flex-basis: 50%;
}

section {
  margin: 5% 0;
}
