/* COLORS
MAIN: #551a8b
GRAY: #343a40

P1: #907FA4
P2: #A58FAA
P3: #EDEDD0
P4: #A6D6D6
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #343a40;
}

h2 {
  /* / 62 / 74 / 86 / */
  font-size: 74px;
  font-weight: normal;
}

h3 {
  /* 44 / 52 / 62 */
  font-size: 44px;
  font-weight: 700;
  letter-spacing: -2px;
  margin-bottom: 2%;
}

p {
  /* 18 / 20 / 24 / 30 */
  font-size: 20px;
  letter-spacing: -0.25px;
  line-height: 1.7;
}

.container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 48px;
  row-gap: 96px;
  margin: 0 auto;
}

.main-header {
  color: #551a8b;
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header-title {
  font-weight: normal;
  text-transform: lowercase;
}

.main-header-nav {
  font-size: 18px;
  text-transform: lowercase;
}

.main-header-nav a:link {
  color: #551a8b;
  text-decoration: none;
  margin-right: 4px;
  display: inline-block;
}

.section-intro {
  grid-column: 1 / 2;
  text-transform: uppercase;
  letter-spacing: -4px;
  padding-bottom: 48px;
}

.section-desarrollo {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.section-innovacion {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.section-comunidad {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}

footer {
  grid-column: 1 / -1;
  text-align: center;
}

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
