.cards-box {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  gap: 3.2rem;
  padding: 3.2rem 0;
}

.card-item {
  flex-basis: 25rem;
  flex-grow: 1;
}

/**************************/
/* QUERIES*/
/**************************/
/**************************/
/* BELOW 592px (Phones) */
/**************************/
@media (max-width: 37em) {
  .card-item {
    flex-basis: 30rem;
  }
}
