/* MOBILE */
.btn--mobile {
  display: none;
  border: none;
  background: none;
  font-size: 3rem;
  color: var(--color-white);
  cursor: pointer;
  margin-right: 2.4rem;
}

/**************************/
/* BELOW 960px (Portrait tablets) */
/**************************/
@media (max-width: 60em) {
  .btn--mobile {
    display: block;
    z-index: 1000;
  }
}
