.card {
  /* max-width: 35rem;
  min-width: 20rem; */
  height: 100%;
  width: 100%;
  border: solid 1px var(--color-shades-darker);
  border-radius: 11px;
  padding: 2.4rem;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.3s;
}

.card:hover {
  transform: translateY(-0.8rem);
  box-shadow: 0rem 0rem 1rem var(--color-shades-darker);
}

.card:active {
  transform: translateY(-0.3rem);
  box-shadow: 0rem 0rem 0.5rem var(--color-shades-darker);
}

.card__icon {
  text-align: center;
  padding: 3.2rem;
}

.card__icon i {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: var(--linear-gradient-accent);
}

.card__icon.icon--primary i {
  font-size: 8.6rem;
  margin-bottom: 2.4rem;
}

.card__icon.icon--secondary i {
  font-size: 3.6rem;
}

.card__img {
  text-align: center;
  padding: 3.2rem;
}

.card__img img {
  width: 100%;
}

.card__title {
  text-align: center;
  margin-bottom: 2.4rem;
}

.title--primary {
  font-size: 2rem;
  font-weight: 500;
}

.title--secondary {
  font-size: 1.6rem;
  font-weight: 400;
}

.color--primary {
  color: var(--color-accent-primary);
}

.color--secondary {
  color: var(--color-accent-secondary);
}

.card__text {
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 0.75px;
  line-height: 1.6;
  text-align: left;
  hyphens: auto;
  margin-bottom: 1.6rem;
}

/**************************/
/* BELOW 1088px (Landscape tablets) */
/**************************/
@media (max-width: 68em) {
  .title--secondary {
    font-size: 1.8rem;
  }
}

/**************************/
/* BELOW 944px (Portrait tablets) */
/**************************/
@media (max-width: 59em) {
  .title--primary {
    font-size: 2.4rem;
  }

  .title--secondary {
    font-size: 2rem;
  }

  .card__text {
    font-size: 1.6rem;
  }
}

/**************************/
/* BELOW 592px (Phones) */
/**************************/
@media (max-width: 37em) {
  .card {
    max-width: 100%;
  }

  .title--primary {
    font-size: 3.6rem;
  }

  .title--secondary {
    font-size: 3rem;
  }

  .card__text {
    font-size: 2.4rem;
  }
}
