.home {
  margin: 0 auto;
}

.section__services {
  width: 100%;
  height: 100%;
  padding-bottom: 9.6rem;
}

.service__container {
  max-width: 140rem;
  padding: 9.6rem 8rem 3.2rem 8rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/**************************/
/* QUERIES*/
/**************************/
/**************************/
/* BELOW 1232px (Small desktop) */
/**************************/
@media (max-width: 77em) {
}

/**************************/
/* BELOW 1088px (Landscape tablets) */
/**************************/
@media (max-width: 68em) {
}

/**************************/
/* BELOW 960px (Portrait tablets) */
/**************************/
@media (max-width: 60em) {
}

/**************************/
/* BELOW 768px (Portrait small tablets) */
/**************************/
@media (max-width: 48em) {
}

/**************************/
/* BELOW 592px (Phones) */
/**************************/
@media (max-width: 37em) {
  .service__container {
    padding: 8rem 2.4rem 0rem 2.4rem;
  }
}
