.home {
  max-width: 140rem;
  width: 100%;
  margin: 0 auto;
}

/**************************/
/* SECTION HERO */
/**************************/
.section-hero {
  width: 100%;
  padding: 6.4rem 8rem;
  margin-bottom: 8rem;
}

.section-hero.sticky {
  margin-top: 8rem;
}

.hero-main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.hero-main__heading {
  width: 60%;
}

.hero-main__heading__text {
  font-size: 8.4rem;
  font-weight: 400;
  letter-spacing: -0.75px;
  line-height: 1.05; /* Small */
  margin-bottom: 4.8rem;
}

.hero-main__heading__text span {
  color: var(--color-accent-primary);
  margin-left: 2rem;
}

.hero-main__img {
  width: 40%;
  backface-visibility: hidden;
}

.hero-main__img img {
  height: 42rem;
  animation: moveInRight 1s ease-out 0.5s;
  animation-fill-mode: backwards;
}

.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3.2rem;
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  80% {
    transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

/**************************/
/* SECTION INTRO */
/**************************/
.section-intro {
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: var(--color-bg-darker);
  box-shadow: 0 0 3rem var(--color-shades-darker);
  padding: 16rem 9.6rem;
  /* margin-bottom: 8rem; */
}

.intro-heading {
  font-size: 4.4rem;
  font-weight: 500;
  color: var(--color-shades-normal);
  padding: 0 2.4rem;
  margin-bottom: 3.2rem;
}

.intro-text {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 1.6;
  color: var(--color-grays-lighter);
  padding: 0 12.8rem;
}

.intro-div {
  margin-top: 6.4rem;
}

.intro-div span {
  content: '';
  display: inline-block;
  height: 2px;
  width: 10%;
  border-bottom: solid 1px var(--color-shades-darker);
  box-shadow: 0 0 1rem var(--color-shades-darker);
}

/**************************/
/* SECTION DETAILS */
/**************************/
.section-features {
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 8rem 8rem;
  /* margin-bottom: 8rem; */
}

.features-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}

.features-heading {
  font-family: 'Blinker', sans-serif;
  font-size: 2rem;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: var(--color-shades-lighter);
  margin-bottom: 2.4rem;
}

.features-text {
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 1.6;
  color: var(--color-grays-lighter);
  padding: 0 12.8rem;
  margin-bottom: 4.8rem;
}

/**************************/
/* QUERIES*/
/**************************/
/**************************/
/* BELOW 1232px (Small desktop) */
/**************************/
@media (max-width: 77em) {
  .hero-main__heading__text {
    font-size: 7.4rem;
  }

  .hero-main__img img {
    height: 36rem;
  }

  .features-container {
    gap: 4.8rem;
  }
}

/**************************/
/* BELOW 1088px (Landscape tablets) */
/**************************/
@media (max-width: 68em) {
  .hero-main__heading__text {
    font-size: 6.2rem;
  }

  .hero-main__img img {
    height: 31rem;
  }

  .intro-heading {
    font-size: 3.6rem;
  }

  .features-container {
    flex-wrap: wrap;
  }
}

/**************************/
/* BELOW 944px (Portrait tablets) */
/**************************/
@media (max-width: 59em) {
  .section-hero {
    padding: 6.4rem 9.6rem;
  }

  .hero-main__heading__text {
    font-size: 5.2rem;
  }

  .hero-main__img img {
    height: 28rem;
  }

  .hero-main__heading {
    width: 55%;
  }

  .hero-main__img {
    width: 45%;
    text-align: center;
  }

  .intro-text {
    padding: 0 4.8rem;
  }
}

/**************************/
/* BELOW 768px (Portrait small tablets) */
/**************************/
@media (max-width: 48em) {
  .hero-main__heading {
    width: 50%;
  }

  .hero-main__img {
    width: 50%;
  }

  .hero-main__heading__text {
    font-size: 4.4rem;
  }

  .hero-main__img img {
    height: 22rem;
  }
}

/**************************/
/* BELOW 592px (Phones) */
/**************************/
@media (max-width: 37em) {
  .section-hero {
    padding: 3.2rem 4.8rem;
  }

  .hero-main {
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3.2rem;
  }

  .hero-main__heading {
    max-width: 30rem;
    width: 100%;
  }

  .hero-main__heading__text {
    font-size: 4.4rem;
    margin-bottom: 1.6rem;
  }

  .hero-main__img {
    width: 100%;
  }

  .hero-main__heading__text span {
    margin-left: 1rem;
  }

  .hero-buttons {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.2rem;
  }

  .section-intro {
    padding: 9.6rem 4.8rem;
  }

  .intro-heading {
    font-size: 2.4rem;
    padding: 0;
  }

  .intro-text {
    font-size: 1.8rem;
    padding: 0 3.2rem;
  }

  .section-features {
    padding: 6.4rem 4.8rem;
  }

  .features-container {
    flex-direction: column;
  }

  .features-text {
    padding: 0 4.8rem;
  }
}
