.header {
  width: 100%;
  height: 8rem;
  border-bottom: solid 1px var(--color-shades-darker);
}

/* STICKY NAV */
.header.sticky {
  background-image: var(--linear-gradient-nav);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.header__container {
  max-width: 140rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.4rem;
  margin: 0 auto;
}

/**************************/
/* BELOW 944px (Portrait tablets) */
/**************************/
@media (max-width: 59em) {
  .header__container {
    position: relative;
  }
}
