.footer {
  background-color: var(--color-bg-darker);
  color: var(--color-grays-lighter);
}

.footer__container {
  max-width: 140rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4.8rem;
  padding: 2.4rem 8rem 3.2rem 8rem;
  margin: 0 auto;
}

.footer__logo-col,
.footer__contact-col,
.footer__account-col,
.footer__company-col {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 auto;
}

.footer__brand-logo {
  cursor: pointer;
  margin-bottom: 2.4rem;
}

.footer__brand-logo img {
  width: 14rem;
}

.footer__social-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2.4rem;
  margin-bottom: 3.2rem;
  flex-grow: 1;
}

.footer__social-list a {
  font-size: 2.4rem;
}

.footer__copyright {
  font-size: 1.2rem;
  text-align: left;
  line-height: 1.6;
}

.footer__heading {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--color-white);
  margin: 3.2rem 0;
  flex-grow: 0;
}

.footer__contact-info {
  flex-grow: 1;
}

.footer__address {
  font-size: 1.4rem;
  font-style: normal;
  line-height: 1.6;
  margin-bottom: 3.2rem;
}

.footer__nav-list {
  list-style: none;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.6rem;
  flex-grow: 1;
}

.footer__link:link,
.footer__link:visited {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  color: var(--color-grays-lighter);
}

.footer__link:hover,
.footer__link:active {
  color: var(--color-accent-primary);
}

.footer__contact .footer__link:link,
.footer__contact .footer__link:visited {
  display: inline-block;
  font-size: 1.4rem;
}

/*****************************/
/* QUERIES*/
/*****************************/
/**************************/
/* BELOW 960px (Portrait tablets) */
/**************************/
@media (max-width: 59em) {
  .footer__container {
    gap: 1.2rem;
  }
}
/**************************/
/* BELOW 768px (Portrait small tablets) */
/**************************/
@media (max-width: 48em) {
}

/**************************/
/* BELOW 592px (Phones) */
/**************************/
@media (max-width: 37em) {
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 3.2rem;
    padding: 1.8rem 2.4rem 3.2rem 4.8rem;
  }

  .footer__logo-col {
    order: 3;
  }
  .footer__contact-col {
    order: 4;
  }
  .footer__account-col {
    order: 2;
  }
  .footer__company-col {
    order: 1;
  }
}
