.footer {
  background-color: var(--color-bg-darker);
  color: var(--color-grays-lighter);
}

.footer__container {
  max-width: 140rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
  padding: 2.4rem 8rem 3.2rem 8rem;
  margin: auto;
}

.footer__logo-col,
.footer__contact-col,
.footer__account-col,
.footer__company-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-grow: 1;
  flex-basis: 25rem;
}

.footer__brand-logo {
  cursor: pointer;
  margin-bottom: 2.4rem;
}

.footer__brand-logo img {
  width: 14rem;
}

.footer__social-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2.4rem;
  margin-bottom: 4.8rem;
}

.footer__social-list a {
  font-size: 2.4rem;
}

.footer__copyright {
  font-size: 1.4rem;
  text-align: left;
  line-height: 1.6;
}

.footer__heading {
  width: 100%;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--color-white);
  margin: 3.2rem 0;
}

.footer__address {
  width: 100%;
  font-size: 1.4rem;
  font-style: normal;
  line-height: 1.6;
  margin-bottom: 3.2rem;
}

.footer__nav-list {
  width: 100%;
  list-style: none;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}

.footer__link:link,
.footer__link:visited {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  color: var(--color-grays-lighter);
}

.footer__link:hover,
.footer__link:active {
  color: var(--color-accent-primary);
}

.footer__contact .footer__link:link,
.footer__contact .footer__link:visited {
  display: inline-block;
  font-size: 1.4rem;
}

/*****************************/
/* QUERIES*/
/*****************************/
/**************************/
/* BELOW 768px (Portrait small tablets) */
/**************************/
@media (max-width: 48em) {
  .footer__container {
    flex-wrap: wrap-reverse;
    row-gap: 2.4rem;
  }

  .footer__logo-col,
  .footer__contact-col,
  .footer__account-col,
  .footer__company-col {
    min-width: 28rem;
  }

  .footer__social-list {
    margin-bottom: 3.2rem;
  }
}

/**************************/
/* BELOW 592px (Phones) */
/**************************/
@media (max-width: 37em) {
  .footer__container {
    padding: 1.8rem 2.4rem 3.2rem 3.2rem;
  }

  .footer__logo-col,
  .footer__contact-col,
  .footer__account-col,
  .footer__company-col {
    flex-basis: 22rem;
    min-width: 15rem;
  }
}

/**************************/
/* BELOW 480px (Phones) */
/**************************/
@media (max-width: 30em) {
  .footer__logo-col,
  .footer__contact-col,
  .footer__account-col,
  .footer__company-col {
    flex-basis: 18rem;
    min-width: 15rem;
  }
}
