.feature {
  height: 100%;
}

.feature__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 2rem;
}

.feature__heading {
  height: 100%;
  display: flex;
  align-items: flex-start;
}

.feature__heading img {
  width: 25%;
}

.feature__title {
  font-size: 3.6rem;
  font-weight: 500;
  letter-spacing: -0.75px;
  hyphens: auto;
}

.accent--primary {
  color: var(--color-accent-primary);
}

.accent--secondary {
  color: var(--color-accent-secondary);
}

.feature__text {
  font-size: 2.2rem;
  font-weight: 300;
  letter-spacing: 0.75px;
  line-height: 1.6;
  hyphens: auto;
  color: var(--color-shades-lighter);
}

/**************************/
/* QUERIES*/
/**************************/
/**************************/
/* BELOW 1232px (Small desktop) */
/**************************/
@media (max-width: 77em) {
  .feature__heading img {
    display: none;
  }
}

/**************************/
/* BELOW 1088px (Landscape tablets) */
/**************************/
@media (max-width: 68em) {
}

/**************************/
/* BELOW 960px (Portrait tablets) */
/**************************/
@media (max-width: 59em) {
}

/**************************/
/* BELOW 768px (Portrait small tablets) */
/**************************/
@media (max-width: 48em) {
}

/**************************/
/* BELOW 592px (Phones) */
/**************************/
@media (max-width: 37em) {
  .feature__title {
    font-size: 3.6rem;
  }

  .feature__text {
    font-size: 2.4rem;
  }
}
