.feature-heading {
  padding: 2.4rem 0;
}

.feature-heading__title {
  font-size: 3.6rem;
  font-weight: 500;
  letter-spacing: -0.75px;
  margin-bottom: 3.2rem;
}

.accent--primary {
  color: var(--color-accent-primary);
}

.accent--secondary {
  color: var(--color-accent-secondary);
}

.feature-heading__text {
  font-size: 2.2rem;
  font-weight: 300;
  letter-spacing: 0.75px;
  line-height: 1.6;
  hyphens: auto;
  color: var(--color-shades-lighter);
}

/**************************/
/* QUERIES*/
/**************************/
/**************************/
/* BELOW 1232px (Small desktop) */
/**************************/
@media (max-width: 77em) {
}

/**************************/
/* BELOW 1088px (Landscape tablets) */
/**************************/
@media (max-width: 68em) {
}

/**************************/
/* BELOW 960px (Portrait tablets) */
/**************************/
@media (max-width: 59em) {
  .feature-heading__text {
    margin-top: 2.4rem;
  }
}

/**************************/
/* BELOW 768px (Portrait small tablets) */
/**************************/
@media (max-width: 48em) {
}

/**************************/
/* BELOW 592px (Phones) */
/**************************/
@media (max-width: 37em) {
  .feature-heading__title {
    font-size: 3.6rem;
    hyphens: auto;
  }

  .feature-heading__text {
    font-size: 2.4rem;
    hyphens: auto;
  }
}
