/**************************/
/* SECTION HERO */
/**************************/
.hero {
  height: 100%;
  width: 100%;
}

.hero.sticky {
  margin-top: 8rem;
}

.hero__container {
  max-width: 140rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem 6.4rem 12.8rem 6.4rem;
  margin: 0 auto;
}

.hero__text-box {
  overflow: hidden;
}

.hero__heading {
  font-size: 7.4rem;
  font-weight: 400;
  letter-spacing: -0.75px;
  line-height: 1.1;
  margin: 3.2rem 0;
}

.hero__heading span {
  color: var(--color-accent-primary);
  margin-left: 2rem;
  z-index: 1;
}

.hero__img-box {
  grid-column: 2;
  grid-row: 1 / 3;
  width: 100%;
  text-align: center;
  backface-visibility: hidden;
}

.hero__img-box img {
  height: 50rem;
  animation: moveInRight 1s ease-out 0.5s;
  animation-fill-mode: backwards;
}

.hero__btn-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3.2rem;
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  80% {
    transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

/**************************/
/* QUERIES*/
/**************************/
/**************************/
/* BELOW 1232px (Small desktop) */
/**************************/
@media (max-width: 77em) {
  .hero__heading {
    font-size: 6.2rem;
  }

  .hero__img-box img {
    height: 45rem;
  }
}

/**************************/
/* BELOW 1088px (Landscape tablets) */
/**************************/
@media (max-width: 68em) {
  .hero__heading {
    font-size: 5.6rem;
  }

  .hero__img-box img {
    height: 40rem;
  }
}

/**************************/
/* BELOW 944px (Portrait tablets) */
/**************************/
@media (max-width: 59em) {
  .hero__container {
    padding: 1.2rem 4.8rem 9.6rem 4.8rem;
  }

  .hero__heading {
    margin-bottom: 1.2rem;
  }

  .hero__text-box span {
    margin-left: 1rem;
  }

  .hero__img-box img {
    height: 35rem;
  }

  .hero__btn-box {
    gap: 1.6rem;
  }
}

/**************************/
/* BELOW 768px (Portrait small tablets) */
/**************************/
@media (max-width: 48em) {
  .hero__text-box h1 {
    width: 90%;
  }

  .hero__heading {
    font-size: 4.6rem;
  }

  .hero__img-box {
    grid-column: auto;
    grid-row: auto;
  }

  .hero__img-box img {
    height: 30rem;
  }

  .hero__btn-box {
    grid-column: 1 / -1;
  }
}

/**************************/
/* BELOW 592px (Phones) */
/**************************/
@media (max-width: 37em) {
  .hero__container {
    text-align: center;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    padding: 0 2.4rem 9.6rem 2.4rem;
  }

  .hero__text-box {
    max-width: 30rem;
    margin: 0 auto 4.8rem auto;
  }

  .hero__text-box h1 {
    width: 100%;
  }

  .hero__heading {
    font-size: 4.4rem;
    margin: 0;
  }

  .hero__img-box {
    grid-row: 1 / 2;
  }

  .hero__btn-box {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.2rem;
  }
}
