/**************************/
/* SECTION INTRO */
/**************************/
.intro {
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: var(--color-white);
  color: var(--color-dark);
  box-shadow: 0 0 2rem var(--color-shades-darker);
  padding: 16rem 9.6rem;
}

.intro__heading {
  max-width: 110rem;
  width: 90%;
  font-size: 4.4rem;
  font-weight: 500;
  color: var(--color-shades-darker);
  margin: 0 auto;
  margin-bottom: 3.2rem;
}

.intro__text {
  max-width: 80rem;
  width: 70%;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 1.6;
  color: var(--color-grays-lighter);
  margin: 0 auto;
}

.intro__line {
  margin-top: 6.4rem;
}

.intro__line span {
  content: '';
  display: inline-block;
  height: 2px;
  width: 10%;
  border-bottom: solid 1px var(--color-shades-darker);
  box-shadow: 0 0 1rem var(--color-shades-darker);
}

/**************************/
/* QUERIES*/
/**************************/
/**************************/
/* BELOW 944px (Portrait tablets) */
/**************************/
@media (max-width: 59em) {
  .intro {
    padding: 16rem 3.2rem;
  }

  .intro__text {
    font-size: 2.4rem;
  }
}

/**************************/
/* BELOW 768px (Portrait small tablets) */
/**************************/
@media (max-width: 48em) {
  .intro {
    padding: 12.8rem 0;
  }
}

/**************************/
/* BELOW 592px (Phones) */
/**************************/
@media (max-width: 37em) {
  .intro {
    padding: 9.6rem 0;
  }

  .intro__text {
    width: 80%;
    font-size: 3rem;
    line-height: 1.2;
  }

  .intro__line span {
    width: 20%;
  }
}
