/**************************/
/* SECTION INTRO */
/**************************/
.intro {
  height: 100%;
  width: 100%;
  background-color: var(--color-bg-lighter);
}

.intro__container {
  text-align: center;
  max-width: 140rem;
  padding: 9.6rem 6.4rem;
  margin: 0 auto;
}

.intro__text-box {
  border-radius: 15px;
  padding: 3.2rem 0;
}

.intro__heading {
  font-size: 5.2rem;
  font-weight: 500;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: var(--linear-gradient-accent);
  margin: 0 auto 3.2rem auto;
}

.intro__text {
  font-size: 2.4rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 1.6;
  text-align: center;
  hyphens: auto;
  color: var(--color-grays-lighter);
  padding: 0 9.6rem;
  margin: 0 auto;
}

.intro__cards-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 4.8rem;
  row-gap: 4.8rem;
  padding: 3.2rem 0;
}

/**************************/
/* QUERIES*/
/**************************/
/**************************/
/* BELOW 1088px (Landscape tablets) */
/**************************/
@media (max-width: 68em) {
  .intro__text {
    padding: 0 6.4rem;
  }

  .intro__cards-box {
    grid-template-columns: repeat(2, 1fr);
    padding: 3.2rem 6.4rem;
  }
}

/**************************/
/* BELOW 944px (Portrait tablets) */
/**************************/
@media (max-width: 59em) {
  .intro__container {
    padding: 8rem 4.8rem;
  }
}

/**************************/
/* BELOW 768px (Portrait small tablets) */
/**************************/
@media (max-width: 48em) {
  .intro__container {
    padding: 8rem 2.4rem;
  }
}

/**************************/
/* BELOW 592px (Phones) */
/**************************/
@media (max-width: 37em) {
  .intro__text-box {
    padding: 3.2rem 0;
  }

  .intro__heading {
    font-size: 4.4rem;
    margin-bottom: 4.8rem;
  }

  .intro__text {
    padding: 0;
  }

  .intro__cards-box {
    grid-template-columns: repeat(1, 1fr);
    padding: 3.2rem;
  }
}
