.btn-box.box-align--right {
  text-align: right;
}

.btn-box.box-align--left {
  text-align: left;
}

.btn-box.box-align--center {
  text-align: center;
}

.btn,
.btn:link,
.btn:visited {
  min-width: 18rem;
  text-align: center;
  text-decoration: none;
  color: var(--color-white);
  display: inline-block;
  position: relative;
  border-radius: 11px;
  padding: 1.6rem 2.4rem;
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  color: var(--color-white);
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0rem 0rem 0.5rem var(--color-shades-darker);
}

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0rem 0rem 0.4rem var(--color-shades-darker);
}

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 11px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn:hover::after {
  box-shadow: 0rem 0rem 4rem var(--color-shades-darker);
  transform: scaleX(1.3) scaleY(1.6);
  opacity: 0;
}

.btn--link {
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 0.3s;
}

.btn--primary {
  background-image: var(--linear-gradient-btn-primary);
}

.btn--primary::after {
  background-image: var(--linear-gradient-btn-primary);
}

.btn--secondary {
  border: solid 1px var(--color-shades-darker);
}

/*****************************/
/* QUERIES*/
/*****************************/
/**************************/
/* BELOW 592px (Phones) */
/**************************/
@media (max-width: 37em) {
  .btn-box {
    width: 100%;
  }

  .btn,
  .btn:link,
  .btn:visited {
    width: 100%;
    font-size: 2.2rem;
    border-radius: 9px;
    padding: 1.8rem 2.4rem;
  }
}
