.heading-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 6.4rem;
}

.heading__title {
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: var(--linear-gradient-accent);
  margin-bottom: 2.4rem;
}

.heading__text {
  font-size: 2.4rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 1.2;
}

/*****************************/
/* QUERIES*/
/*****************************/
/**************************/
/* BELOW 592px (Phones) */
/**************************/
@media (max-width: 37em) {
  .heading__title {
    /* font-size: 1.8rem; */
    letter-spacing: 1px;
  }

  .heading__text {
    /* font-size: 2.2rem; */
    letter-spacing: 1px;
  }
}
