.heading-box {
  text-align: center;
  padding: 3.2rem 0;
}

.heading__title {
  font-size: 6.2rem;
  font-weight: 500;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: var(--linear-gradient-accent);
  margin: 0 auto 3.2rem auto;
}

.heading__text {
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 1.6;
  text-align: center;
  hyphens: auto;
  color: var(--color-grays-lighter);
  margin: 0 auto;
}

/**************************/
/* QUERIES*/
/**************************/
/**************************/
/* BELOW 1088px (Landscape tablets) */
/**************************/
@media (max-width: 68em) {
  .heading__text {
    padding: 0 6.4rem;
  }
}

/**************************/
/* BELOW 592px (Phones) */
/**************************/
@media (max-width: 37em) {
  .heading-box {
    padding: 3.2rem 0;
  }

  .heading__title {
    font-size: 4.4rem;
  }

  .heading__text {
    padding: 0;
  }
}
