.feature-heading {
  padding: 4.8rem 0;
}

.feature-heading__container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2.4rem;
}

.feature-heading__title {
  font-size: 3.6rem;
  font-weight: 700;
  letter-spacing: -0.75px;
}

.accent--primary {
  color: var(--color-accent-primary);
}

.accent--secondary {
  color: var(--color-accent-secondary);
}

.feature-heading__text {
  font-size: 2.4rem;
  font-weight: 300;
  letter-spacing: 0.75px;
  line-height: 1.6;
  hyphens: auto;
  color: var(--color-shades-lighter);
}

.feature-heading__img-box {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  text-align: center;
  margin: auto;
}

.feature-heading__img-box img {
  width: 25rem;
}

/**************************/
/* QUERIES*/
/**************************/
/**************************/
/* BELOW 1232px (Small desktop) */
/**************************/
@media (max-width: 77em) {
  .feature-heading__text {
    /* font-size: 1.8rem; */
  }

  .feature-heading__img-box img {
    width: 30rem;
  }
}

/**************************/
/* BELOW 1088px (Landscape tablets) */
/**************************/
@media (max-width: 68em) {
  .feature-heading__img-box img {
    width: 35rem;
  }
}

/**************************/
/* BELOW 960px (Portrait tablets) */
/**************************/
@media (max-width: 59em) {
  .feature-heading__container {
    column-gap: 4.8rem;
  }

  .feature-heading__title {
    grid-column: 1 / 3;
    font-size: 3rem;
  }

  .feature-heading__text {
    /* font-size: 2rem; */
    margin-top: 2.4rem;
  }

  .feature-heading__img-box {
    grid-column: auto;
    grid-row: auto;
  }

  .feature-heading__img-box img {
    width: 25rem;
  }
}

/**************************/
/* BELOW 768px (Portrait small tablets) */
/**************************/
@media (max-width: 48em) {
  .feature-heading__container {
    column-gap: 2.4rem;
  }

  .feature-heading__text {
    /* font-size: 1.8rem; */
  }
}

/**************************/
/* BELOW 592px (Phones) */
/**************************/
@media (max-width: 37em) {
  .feature-heading {
    padding: 4.8rem 0;
  }

  .feature-heading__container {
    grid-template-columns: 1fr;
    row-gap: 1.2rem;
  }

  .feature-heading__title {
    grid-column: auto;
  }

  .feature-heading__text {
    /* font-size: 2.4rem; */
  }

  .feature-heading__img-box {
    display: none;
  }

  .feature-heading__img-box img {
    width: 30rem;
  }
}
