.list__grid {
  list-style: none;
  display: grid;
  column-gap: 4.8rem;
  row-gap: 2.4rem;
  margin-bottom: 4.8rem;
}

.list__grid.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.list__grid.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.list__item {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.list__item i {
  min-width: 3.2rem;
  font-size: 2.4rem;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: var(--linear-gradient-accent);
}

.list__item p {
  display: inline-block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.2;
}

/*****************************/
/* QUERIES*/
/*****************************/
/**************************/
/* BELOW 1088px (Landscape tablets) */
/**************************/
@media (max-width: 68em) {
  .list__item p {
    display: inline-block;
  }
}

/**************************/
/* BELOW 768px (Portrait small tablets) */
/**************************/
@media (max-width: 48em) {
  .list__grid {
    margin-bottom: 3.2rem;
  }
}

/**************************/
/* BELOW 592px (Phones) */
/**************************/
@media (max-width: 37em) {
  .list__grid.grid--2-cols {
    grid-template-columns: repeat(1, 1fr);
  }

  .list__grid.grid--3-cols {
    grid-template-columns: repeat(1, 1fr);
  }

  .list__item p {
    font-size: 1.8rem;
    letter-spacing: 0px;
  }
}
