.feature {
  height: 100%;
}

.feature__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  row-gap: 2.4rem;
}

.feature__container img {
  width: 40%;
}

.feature__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  justify-content: space-between;
}

.feature__title {
  font-size: 3.6rem;
  font-weight: 500;
  letter-spacing: -0.75px;
  hyphens: auto;
}

.accent--primary {
  font-weight: 600;
  color: var(--color-accent-primary);
}

.accent--secondary {
  font-weight: 600;
  color: var(--color-accent-secondary);
}

.feature__text {
  font-size: 2.2rem;
  font-weight: 300;
  letter-spacing: 0.75px;
  line-height: 1.6;
  hyphens: auto;
  color: var(--color-shades-lighter);
}

.feature__button {
  margin-top: 2rem;
  align-self: flex-start;
}

/**************************/
/* QUERIES*/
/**************************/
/**************************/
/* BELOW 1232px (Small desktop) */
/**************************/
@media (max-width: 77em) {
}

/**************************/
/* BELOW 1088px (Landscape tablets) */
/**************************/
@media (max-width: 68em) {
}

/**************************/
/* BELOW 960px (Portrait tablets) */
/**************************/
@media (max-width: 60em) {
  .feature__container {
    flex-direction: column;
  }
  .feature__button {
    margin-top: 0;
    align-self: center;
  }
}

/**************************/
/* BELOW 768px (Portrait small tablets) */
/**************************/
@media (max-width: 48em) {
}

/**************************/
/* BELOW 592px (Phones) */
/**************************/
@media (max-width: 37em) {
  .feature__container {
    row-gap: 3.2rem;
  }
  .feature__title {
    font-size: 3.2rem;
  }

  .feature__text {
    font-size: 2.4rem;
    line-height: 1.4;
  }

  .feature__button {
    width: 100%;
  }
}
