/**************************/
/* SECTION HERO */
/**************************/
.hero {
  max-height: 75rem;
  min-height: 60rem;
  width: 100%;
  height: calc(100vh - 8rem);
  display: flex;
  align-items: center;
  position: relative;
}

.hero::before {
  content: '';
  height: 80vw;
  width: 80vw;
  position: absolute;
  top: 0%;
  left: -65%;
  background-color: var(--color-bg-shapes);
  border-radius: 10%;
  transform: rotate(30deg);
  z-index: -1;
}

.hero::after {
  content: '';
  height: 80vw;
  width: 80vw;
  position: absolute;
  top: 35%;
  right: -70%;
  background-color: var(--color-bg-shapes);
  border-radius: 10%;
  transform: rotate(60deg);
  z-index: -1;
}

.hero.sticky {
  margin-top: 8rem;
}

.hero__container {
  max-width: 140rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  padding: 0 6.4rem 8rem 6.4rem;
  margin: 0 auto;
}

.hero__text-box {
  overflow: hidden;
}

.hero__heading {
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: -0.75px;
  line-height: 1.1;
  margin: 2.4rem 0;
}

.hero__heading span {
  color: var(--color-accent-primary);
  margin-left: 2rem;
}

.hero__text {
  font-size: 2.4rem;
  font-weight: 300;
  letter-spacing: 0.75px;
  line-height: 1.6;
  text-align: left;
  hyphens: auto;
  color: var(--color-grays-lighter);
  margin-bottom: 3.2rem;
}

.hero__img-box {
  grid-column: 2;
  grid-row: 1 / 3;
  width: 100%;
  text-align: center;
  backface-visibility: hidden;
}

.hero__img-box img {
  height: 50rem;
  animation: moveInRight 1s ease-out 0.5s;
  animation-fill-mode: backwards;
}

.hero__btn-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3.2rem;
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  80% {
    transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

/**************************/
/* QUERIES*/
/**************************/
/**************************/
/* BELOW 1232px (Small desktop) */
/**************************/
@media (max-width: 77em) {
  .hero__heading {
    font-size: 5.2rem;
    margin-bottom: 1.6rem;
  }

  .hero__img-box img {
    height: 45rem;
  }
}

/**************************/
/* BELOW 1088px (Landscape tablets) */
/**************************/
@media (max-width: 68em) {
  .hero__heading {
    font-size: 4.4rem;
    margin-bottom: 1.2rem;
  }

  .hero__text {
    font-size: 2rem;
  }

  .hero__img-box img {
    height: 40rem;
  }
}

/**************************/
/* BELOW 944px (Portrait tablets) */
/**************************/
@media (max-width: 59em) {
  .hero {
    max-height: 55rem;
  }

  .hero__container {
    padding: 0 4.8rem 8rem 4.8rem;
  }

  .hero__text-box span {
    margin-left: 1rem;
  }

  .hero__heading {
    font-size: 3.8rem;
  }

  .hero__text {
    margin-bottom: 2.4rem;
  }

  .hero__img-box img {
    height: 35rem;
  }

  .hero__btn-box {
    gap: 1.6rem;
  }
}

/**************************/
/* BELOW 768px (Portrait small tablets) */
/**************************/
@media (max-width: 48em) {
  .hero__heading {
    font-size: 3.4rem;
  }

  .hero__text {
    font-size: 1.8rem;
  }

  .hero__img-box {
    grid-column: auto;
    grid-row: auto;
  }

  .hero__img-box img {
    height: 30rem;
  }

  .hero__btn-box {
    grid-column: 1 / -1;
  }
}

/**************************/
/* BELOW 592px (Phones) */
/**************************/
@media (max-width: 37em) {
  .hero {
    max-height: calc(100vh - 8rem);
    min-height: 75rem;
    height: 100%;
    background-image: var(--linear-gradient-hero),
      url(../../assets/images/img-hero.png);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: 0 0, 130% -90px;
  }

  .hero::before {
    display: none;
  }

  .hero::after {
    display: none;
  }

  .hero__container {
    text-align: center;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    padding: 8rem 2.4rem 12.8rem 2.4rem;
  }

  .hero__text-box {
    margin: 0 0 4.8rem 0;
  }

  .hero__heading {
    text-align: left;
    font-size: 4.8rem;
    margin: 3.2rem 0;
  }

  .hero__text {
    font-size: 3rem;
    letter-spacing: 0.5px;
    margin: 0;
  }

  .hero__img-box {
    display: none;
  }

  .hero__btn-box {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.2rem;
  }
}
